main.about
    .about__container
        .about__container--face
            .face__img
                img(src="src/img/slide/bg-slide-2.jpg", alt="Imagen")
        .about__container--face
            .face__info
                h2.face__info--title.titulo Lorem ipsum es el texto de prueba standart.
                p.face__info--description.descripcion Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. 
                a(href="#").face__info--btn Más Información
