main.about#about
    .about__img.wow.fadeInLeft
        img(src="src/img/slide/bg-slide-3.jpg", alt="imagen")
    .about__cont
        .about__cont--info.wow.fadeIn.delay-1
            h2.info__title.titulo Lorem ipsum es el texto de prueba standart.
            p.info__description.descripcion Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. 
            a(href="#").info__btn Más Información