

.masonry-layout{
  --gap                 : 1rem;
  --columns             : 2;

  display               : grid;
  grid-template-columns : repeat(var(--columns), 1fr);
  grid-gap              : var(--gap);
  @include from ($m3){
    --columns : 3;
  }
  .gallery__item{
    width    : 100%;
    display  : inline-block;
    overflow : hidden;
    &:hover{
      img{
        transform : scale(1.1);
      }
    }

    img{
      width      : 100%;
      transition : transform .5s;
    }
  }
  .masonry-item{
    margin-bottom : var(--gap);
  }


}