section.contact#contacto
    .contact__container
        .contact__container--face.face__left
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d499488.88285513397!2d-77.26798166899341!3d-12.02582697306998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c5f619ee3ec7%3A0x14206cb9cc452e4a!2sLima!5e0!3m2!1ses-419!2spe!4v1544333871772')
        .contact__container--face.face__right
            .face__container
                h2.face__container--title.titulo Contáctanos
                form.face__container--form
                    input(type="text" placeholder="Nombre y Apellido")
                    input(type="email" placeholder="Correo Electrónico")
                    input(type="text" placeholder="Celular")
                    textarea(placeholder="Mensaje")
                    a(href="#") Enviar