section.galeria.color-dark#galeria
    .galeria__contenedor
        .galeria__contenedor--header
            h2.header__title.titulo Gallería
            p.descripcion Esta es una galería standart
        .galeria__contenedor--box
            .box__item
                img(src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="Imagen")
            .box__item
                img(src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="Imagen")
            .box__item
                img(src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="Imagen")
            .box__item
                img(src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="Imagen")
            .box__item
                img(src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="Imagen")
            .box__item
                img(src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="Imagen")
            .box__item
                img(src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="Imagen")
            .box__item
                img(src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="Imagen")
            .box__item
                img(src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="Imagen")