header
    .header__contenedor
        h1.header__contenedor--logotipo
            a(href="index.html") Logo
        i.header__contenedor--icono#icon
        nav#nav
            ul.nav__lista
                li.nav__lista--item: a(href="#inicio" class="item__link") Inicio
                    i.fas.fa-home
                li.nav__lista--item: a(href="#about" class="item__link") Nosotros
                    i.fas.fa-home
                li.nav__lista--item: a(href="#galeria" class="item__link") Galería
                    i.fas.fa-utensils
                li.nav__lista--item: a(href="#contacto" class="item__link") Contacto
                    i.fas.fa-book-open