header
    .header__contenedor
        h1.header__contenedor--logotipo
            a(href="index.html") Logo
        i.header__contenedor--icono#icon
        nav#nav
            ul.nav__lista
                li.nav__lista--item: a(href="#inicio") Inicio
                    i.fas.fa-home
                li.nav__lista--item: a(href="#inicio") Nosotros
                    i.fas.fa-home
                li.nav__lista--item: a(href="#galeria") Galería
                    i.fas.fa-utensils
                li.nav__lista--item: a(href="#contacto") Contacto
                    i.fas.fa-book-open