#slides
    ul.slides-container
        li
            img(src='src/img/slide/bg-slide-1.jpg', alt='Imagen')
        li
            img(src='src/img/slide/bg-slide-2.jpg', alt='Imagen')
        li
            img(src='src/img/slide/bg-slide-3.jpg', alt='Imagen')
    .slides-navigation
        a.next(href='#' class="fas fa-chevron-right") 
        a.prev(href='#' class="fas fa-chevron-left") 
