//----- B A N N E R

.banner{
  --gradient       : .2;
  --url            : url('../../public/img/background.jpg');
  background-color : var(--rgba);
  @include bg-cont;
  height           : 100vh;
  background-image : linear-gradient(
                  rgba($bg-dark, var(--gradient)),
                  rgba($bg-dark, var(--gradient))
  ),
  var(--url);
  @include from ($m3){
    --gradient : .3;
  }
}

//----- G A L L E R Y

.work{
  padding-top      : var(--paddingY);
  padding-bottom   : var(--paddingY);
  &__container{
    &--header{
      text-align : center;
      color      : $text-dark;
    }
    &--gallery{
      margin-top       : 1.5rem;
    }
  }
}