extends ../config/template
append config
    - NombPagina = "Inicio"
prepend styles
block contenido

    //-- B A N N E R
    //--------------
    .banner
        .banner__container.container
    
    //-- B A N N E R
    //--------------
    .about.paddingY
        .about__container.container
            +button(
                'second-color',
                'index.html',
                'Services'
            )

    //-- S E R V I C E S 
    //--------------
    .services.paddingY
        .services__container.container
          

prepend script-final
