extends ../config/template
append config
    - NombPagina = "Inicio"
prepend styles
block contenido

    // B A N N E R
    .banner
        .banner__container.container
            

prepend script-final
