extends ../config/template
prepend styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/superslides/0.6.2/stylesheets/superslides.min.css")
block contenido
    include ../includes/slide
    include ../includes/about/about-2
prepend script-final
    script(src="src/js/superslides.js")



            